# PostgreSQL
DATABASE_URL=

# JWT
ACCESS_SECRET=
REFRESH_SECRET=

# Server
PORT=5555
APP_URL=http://localhost:5555

# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=
SMTP_PASS=
SMTP_FROM=